<div class="level-template__top">
  <div class="level-template__top-content">
    <h2>Sudoku</h2>
    <p [ngSwitch]="currentDifficult$ | async">
      <ng-container *ngSwitchCase="Difficult.Easy">
        EASY 
      </ng-container>
      <ng-container *ngSwitchCase="Difficult.Medium">
        MEDIUM 
      </ng-container>
      <ng-container *ngSwitchCase="Difficult.Hard">
        HARD 
      </ng-container>
      DIFFICULTY
    </p>
  </div>
  <app-difficult-selector></app-difficult-selector>
</div>

<app-board (onCompleteGame)="isCompleteGame$.next(true)"></app-board>

<p>To place a number in a square — type the number on your keyboard whilst hovering over the square, or after clicking on it</p>

<app-winner-screen 
  *ngIf="isCompleteGame$ | async"
  (onStartNewGame)="startNewGame()"></app-winner-screen>