<ng-container *ngIf="(currentDifficult$ | async) as difficult">
  <app-arrow 
    class="prev"
    [disabled]="difficult === Difficult.Easy"
    (click)="changeDifficult(difficult === Difficult.Hard ? Difficult.Medium : Difficult.Easy)">

  </app-arrow>
  <div class="difficult-selector__text">
    <span>Level</span><br>
    {{ difficult }}
  </div>
  <app-arrow 
    class="next"
    [disabled]="difficult === Difficult.Hard"
    (click)="changeDifficult(difficult === Difficult.Easy ? Difficult.Medium : Difficult.Hard)">
    
  </app-arrow>
</ng-container>