:host {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
}


.difficult-selector {
  &__text {
    margin: 0 5px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;

    span {
      font-size: 8px;
      font-weight: 700;
      letter-spacing: 0.88px;
    }
  }
}