@import "colors";

:host {
    button {
        appearance: none;
        padding: 8px 32px;
        border-radius: 24px;
        color: $blue;
        border: 2px solid currentColor;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        background-color: transparent;
        transition: background-color .4s ease, color .4s ease;
        cursor: pointer;

        &:hover {
            background-color: $blue;
            color: #fff;
        }
    }
}

:host-context(.white) {
    button {
        color: $blue;
        background-color: #fff;
        border-color: transparent;

        &:hover {
            box-shadow: inset 0px 100px 100px rgba(0,0,0, .1);
        }
    }
}