/* You can add global styles to this file, and also import other style files */
@import "colors";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background: linear-gradient(180deg, #307DF6 40.8vh, #fff 40.8vh);
    background-repeat: no-repeat;
    background-size: 100%;
}